# Arquivo .clang-format gerado pelo Visual Studio

# As opções de estilo neste arquivo são a melhor tentativa possível de replicar a
# configuração de formatação IDE atual de Ferramentas > Opções. As
# opções de estilo a seguir, no entanto, devem ser verificadas:
# AfterClass; AfterControlStatement; AfterEnum; AfterFunction; AfterNamespace; 
# AfterStruct; AfterUnion

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
# BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: false   
  AfterControlStatement: Always
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false 
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Allman
ColumnLimit: 0
CommentPragmas: '^ clang-format: '
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
MaxEmptyLinesToKeep: 10
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: true
